body{
font-family: 'Open Sans', sans-serif;
color: #745a82;
text-align: center;

}
h3{
  font-weight: bold;
}
/* Navigation bar */

/* Title  */
#title{

}
.site-container{
  padding:0;
}
.navbar{
  border-top: 10px solid;
  z-index:100;
  position: relative;
}
.nav-item{
  margin: 0 3rem;
  color: #745a82;
  font-weight: bold;
}
.banner-img{
  width: 100%;
  height: 50rem;
}
.banner-front-img{
  position: absolute;
  top: 12rem;
  left:22rem;

}
.title{
  position: absolute;
  top:27rem;
  left:28rem;
}
.heading{
  line-height: 2;
  font-size:3rem;
}
.bold-text{
  font-weight: bold;

}
.heading-text{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2% 15%;

}

/* CLasses Section */

.classes-title{
  padding:3% 15% 8%;
}
.classes-img{
  width: 50%;
}
.classes-text{
  text-align: left;
  padding:1% 25%;
}
.btn{

}
